@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bold */
@font-face {
  font-family: 'MDIO';
  src: url('/fonts/MDIO-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'MDIO';
  src: url('/fonts/MDIO-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'MDIO';
  src: url('/fonts/MDIO-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'MDIO', sans-serif;
}
